[Settings]
MAX_RESULTS = 5
SPOTIFY_URL = https://open.spotify.com              
ACCES_SCOPE = user-modify-playback-state user-read-playback-state user-library-read user-library-modify user-read-playback-position
CLIENT_ID = 4308514e1497441b9da05278342b8289
REDIRECT_URI = http://localhost:8888/callback
CACHE_PATH = ~/.cache/KRunnerSpotify/.cache
CASE_SENSITIVE = False
CONFIG_EDITOR = /usr/bin/kate

[CommandNames]
ADD_TO_QUEUE_COMMAND = Add
CURRENT_TRACK_INFO_COMMAND = TrackInfo
DECREASE_VOLUME_COMMAND = DecVol
EDIT_CONFIG_COMMAND = EditConfig
EPISODE_COMMAND = Episode
INCREASE_VOLUME_COMMAND = IncVol
LOGIN_COMMAND = Login
LOGOUT_COMMAND = Logout
NEXT_COMMAND = Next
PAUSE_COMMAND = Pause
PLAY_COMMAND = Play
PLAY_FEATURED_PLAYLIST_COMMAND = featured
PLAY_MY_PLAYLIST_COMMAND = myplaylist
PLAY_PLAYLIST_COMMAND = playlist
PLAY_SONG_BY_ARTIST_COMMAND = artist
PLAY_SONG_COMMAND = song
PODCAST_COMMAND = Podcast
FOLLOWED_PODCAST_COMMAND = FollowedPodcast
PREVIOUS_COMMAND = Previous
RELOAD_CONFIG_COMMAND = ReloadConfig
RESUME_COMMAND = Resume
START_SPOTIFY_COMMAND = Spotify